{% extends 'account/base.html.twig' %}

{% block subtitle %}Account
{% endblock %}

{% block subbody %}
    <div class="flex justify-center text-center">
        {{ form_start(form, {'action': path('account.store'), 'method': 'POST'}) }}
        <h3 class="mb-3">Your Data</h3>

        <div class="row">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {
                'class': 'my-1 bg-gray-200 px-3 py-1 rounded',
                'placeholder': 'Email'}}) }}
            <small class="text-red">
                {{ form_errors(form.email)}}
            </small>
        </div>

        <div class="row">
            <button class="btn-b mt-3" type="submit">
                Save
            </button>
        </div>
        {{ form_end(form) }}
    </div>
    <hr class="border-b-2 border-gray-200 mt-5">
    <ul class="list-none flex flex-wrap text-gray-600 p-5">
        <li class="w-1/3">Created at: {{ user.createdAt|date("m-d-Y")}}
        </li>
        <li class="w-1/3">Updated at: {{ user.updatedAt|date("m-d-Y")}}
        </li>
        <li class="w-1/3">Last login: {{ user.lastLogin|date("m-d-Y")}}
        </li>
    </ul>
{% endblock %}
