{% extends 'base.html.twig' %}

{% block subtitle %}Register
{% endblock %}
{% block body %}

    <div class="flex justify-center text-center">
        {{ form_start(form) }}
        <h3 class="mb-3">Sign up</h3>

        <div class="row">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {
                'class': 'my-1 bg-gray-400 px-3 py-1 rounded',
                'placeholder': 'Email'}}) }}
            <small class="text-red">
                {{ form_errors(form.email)}}
            </small>
        </div>
        <div class="row">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {
                'class': 'my-1 bg-gray-400 px-3 py-1 rounded',
                'placeholder': 'Password'}}) }}
            <small class="text-red">
                {{ form_errors(form.plainPassword.first)}}
            </small>
        </div>
        <div class="row">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {
                'class': 'my-1 bg-gray-400 px-3 py-1 rounded',
                'placeholder': 'Repeat Password'}}) }}
            <small class="text-red">
                {{ form_errors(form.plainPassword.second)}}
            </small>
        </div>

        <div class="row">
            {{ form_label(form.terms) }}
            {{ form_widget(form.terms, {'attr': {
                'class': 'my-1'}}) }}
            <small class="text-red">
                {{ form_errors(form.terms)}}
            </small>
        </div>

        <div class="row">
            <button class="bg-blue-500hover:bg-blue-600 rounded text-teal-400est font-bold px-3 py-1" type="submit">
                Sign up
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
