<h3>Auth:</h3>
<ul class="list-disc">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            Email:
            {{ app.user.email }}</li>
        <li>
            <a href="{{ path('account') }}">Account</a>
        </li>
        <li>
            <a href="{{ path('logout') }}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('login') }}">Login</a>
        </li>
        <li>
            <a href="{{ path('register') }}">Register</a>
        </li>
    {% endif %}
</ul>
